<?php echo $header; ?>
<ul class="breadcrumb">
			<?php foreach ($breadcrumbs as $breadcrumb) { ?>
			<li>
				<a href="<?php echo $breadcrumb['href']; ?>">
					<?php if($breadcrumb['text'] == 'Home') { ?>
					<i class="fa fa-home"></i>
					<?php } else { 
					echo $breadcrumb['text'];
					} ?>
				</a>
			</li>
			<?php } ?>
		</ul>
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content" class="col-sm-9"><?php echo $content_top; ?>
	<div class="box">
		<h2><?php echo $heading_title; ?></h2>
		<table class="table">
			<thead>
				<tr>
					<td class="left" colspan="2"><?php echo $text_order_detail; ?></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-left" style="width: 50%;"><?php if ($invoice_no) { ?>
						<b><?php echo $text_invoice_no; ?></b> <?php echo $invoice_no; ?><br />
						<?php } ?>
						<b><?php echo $text_order_id; ?></b> #<?php echo $order_id; ?><br />
						<b><?php echo $text_date_added; ?></b> <?php echo $date_added; ?></td>
					<td class="text-left" style="width: 50%;"><?php if ($payment_method) { ?>
						<b><?php echo $text_payment_method; ?></b> <?php echo $payment_method; ?><br />
						<?php } ?>
						<?php if ($shipping_method) { ?>
						<b><?php echo $text_shipping_method; ?></b> <?php echo $shipping_method; ?>
						<?php } ?></td>
				</tr>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
					<td class="text-left"><?php echo $text_payment_address; ?></td>
					<?php if ($shipping_address) { ?>
					<td class="tex-left"><?php echo $text_shipping_address; ?></td>
					<?php } ?>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-left"><?php echo $payment_address; ?></td>
					<?php if ($shipping_address) { ?>
					<td class="text-left"><?php echo $shipping_address; ?></td>
					<?php } ?>
				</tr>
			</tbody>
		</table>
		<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td class="text-left"><?php echo $column_name; ?></td>
					<td class="text-left"><?php echo $column_model; ?></td>
					<td class="text-right"><?php echo $column_quantity; ?></td>
					<td class="text-right"><?php echo $column_price; ?></td>
					<td class="text-right"><?php echo $column_total; ?></td>
					<?php if ($products) { ?>
					<td></td>
					<?php } ?>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($products as $product) { ?>
				<tr>
					<td class="text-left"><?php echo $product['name']; ?>
						<?php foreach ($product['option'] as $option) { ?>
						<br />
						&nbsp;<small> - <?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
						<?php } ?></td>
					<td class="text-left"><?php echo $product['model']; ?></td>
					<td class="text-right"><?php echo $product['quantity']; ?></td>
					<td class="text-right"><?php echo $product['price']; ?></td>
					<td class="text-right"><?php echo $product['total']; ?></td>
					<td class="text-right"><a href="<?php echo $product['return']; ?>" class="btn btn-default"><div  alt="<?php echo $button_return; ?>" title="<?php echo $button_return; ?>" /><i class="fa fa-reply"></i></div></a></td>
				</tr>
				<?php } ?>
				<?php foreach ($vouchers as $voucher) { ?>			
				<tr>			
					<td class="left"><?php echo $voucher['description']; ?></td>
					<td class="left"></td>
					<td class="right">1</td>
					<td class="right"><?php echo $voucher['amount']; ?></td>
					<td class="right"><?php echo $voucher['amount']; ?></td>
					<?php if ($products) { ?>
					<td></td>
					<?php } ?>
				</tr>				
				<?php } ?>
			</tbody>
		</table>		
		<table class="table">
			<tbody>
				<?php foreach ($totals as $total) { ?>
				<tr><td colspan="3"></td><td colspan="3"></td>
					<td colspan="3"></td><td></td><td colspan="3"></td>
					<td class="text-right"><b><?php echo $total['title']; ?>:</b></td>
					<td colspan="3"></td>
					<td class="text-left"><?php echo $total['text']; ?>
				</td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
		<?php if ($comment) { ?>
		<table class="table">
			<thead>
				<tr>
					<td class="text-right"><?php echo $text_comment; ?></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-right"><?php echo $comment; ?></td>
				</tr>
			</tbody>
		</table>
		</div>
		<?php } ?>
		<?php if ($histories) { ?>
		<h2><?php echo $text_history; ?></h2>
		<table class="table">
			<thead>
				<tr>
					<td class="text-left"><?php echo $column_date_added; ?></td>
					<td class="text-left"><?php echo $column_status; ?></td>
					<td class="text-left"><?php echo $column_comment; ?></td>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($histories as $history) { ?>
				<tr>
					<td class="left"><?php echo $history['date_added']; ?></td>
					<td class="left"><?php echo $history['status']; ?></td>
					<td class="left"><?php echo $history['comment']; ?></td>
				</tr>
				<?php } ?>
			</tbody>
		</table>

		<?php } ?>
		<div class="buttons clearfix">
			<div class="pull-right"><a href="<?php echo $continue; ?>"  class="btn btn-primary"><?php echo $button_continue; ?></a></div>
		</div>
	</div>
	<?php echo $content_bottom; ?></div>
<?php echo $footer; ?> 