.jcarousel {
	position: relative;
}
.jcarousel:before {
	top: 0;
	left: -999px;
	content: "";
	width: 999em;
	display: block;
	position: absolute;
	border-bottom: 1px solid #ddd;
}
.jcarousel .jcarousel-container {
	overflow: hidden;
}
.jcarousel .jcarousel-clip {
	width: 100%;
	overflow: hidden;
}
.jcarousel .jcarousel-item {
	margin: 0;
	padding: 30px;
	text-align: center;
	border-right: 1px solid #ddd;
}
.jcarousel .jcarousel-item:last-child {
	border: none;
}
.jcarousel .jcarousel-item img {
	vertical-align: middle;
}
.jcarousel .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-right: 0;
	margin-left: 10px;
}
.jcarousel .jcarousel-item-placeholder {
	color: #000;
	background: #fff;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-container .jcarousel-next-horizontal,
.jcarousel-container .jcarousel-prev-horizontal {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	background-color: #fff;
	border: 2px solid transparent;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.jcarousel-container .jcarousel-next-horizontal:hover,
.jcarousel-container .jcarousel-prev-horizontal:hover {
	text-decoration: none;
	background-color: #fff;
}
.jcarousel-container .jcarousel-next-horizontal {
	right: -50px;
}
.jcarousel-container .jcarousel-prev-horizontal {
	left: -50px;
}
.jcarousel-container .jcarousel-next-horizontal:before,
.jcarousel-container .jcarousel-prev-horizontal:before {
	width: 36px;
	height: 36px;
	font-size: 20px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border: 2px solid transparent;
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}
.jcarousel-container .jcarousel-next-horizontal:before {
	content: "\e618";
}
.jcarousel-container .jcarousel-prev-horizontal:before {
	content: "\e619";
}
.jcarousel-container .jcarousel-next-horizontal,
.jcarousel-container .jcarousel-prev-horizontal {
	top: 50%;
	margin-top: -20px;
}
.jcarousel-container:hover .jcarousel-prev-horizontal {
	left: 30px;
}
.jcarousel-container:hover .jcarousel-next-horizontal {
	right: 30px;
}
.jcarousel-container:hover .jcarousel-prev-horizontal:hover:before,
.jcarousel-container:hover .jcarousel-next-horizontal:hover:before {
	color: #fff;
}