/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/
.is-ie {
	overflow-x: hidden;
}
.is-ie .wrapper{
	width: 1172px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.is-ie .mainmenu > li {
	height: 52px !important;
}
.is-ie .kuler-css3-slideshow {
	padding: 0 !important;
	margin: 0 !important;
}
.is-ie .kuler-css3-slideshow .slide_container,
.is-ie .kuler-css3-slideshow .slide,
.is-ie .kuler-css3-slideshow .jcarousel-item {
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}
.is-ie .kuler-css3-slideshow .jcarousel-prev-horizontal,
.is-ie .kuler-css3-slideshow .jcarousel-next-horizontal {
	top: 45% !important;
}
.is-ie .mainmenu > li > .dropdown-container > .dropdown > .sublevel {
	width: 200px !important;
	z-index: 9999;
}
.is-ie .product-grid > div {
	border-right: 1px solid #DDDDDD !important;
}
.is-ie #search-inner{
	display: none !important;
}
.color-rose #content .product-grid .details > div div a,
.color-rose .kuler-tabs .product-grid .details > div div a,
.color-rose .megamenu .details > div div a {
	background: #f54b76;
}
.color-crusta #content .product-grid .details > div div a,
.color-crusta .kuler-tabs .product-grid .details > div div a,
.color-crusta .megamenu .details > div div a {
	background: #FF8737;
}
.color-viking #content .product-grid .details > div div a,
.color-viking .kuler-tabs .product-grid .details > div div a,
.color-viking .megamenu .details > div div a {
	background: #53D5DF;
}
.color-jungle-green #content .product-grid .details > div div a,
.color-jungle-green .kuler-tabs .product-grid .details > div div a,
.color-jungle-green .megamenu .details > div div a {
	background: #28C156;
}
.color-brandy #content .product-grid .details > div div a,
.color-brandy .kuler-tabs .product-grid .details > div div a,
.color-brandy .megamenu .details > div div a {
	background: #DEBE97;
}
.color-tradewind #content .product-grid .details > div div a,
.color-tradewind .kuler-tabs .product-grid .details > div div a,
.color-tradewind .megamenu .details > div div a {
	background: #6DC1B1;
}
