/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/

/* MEGA MENU */
.primary-define .megamenu {
	position: relative;
}
.primary-define .megamenu li.product,
.primary-define .megamenu li.category {
	position: static;
}
.primary-define .megamenu li .dropdown-container {
	z-index: 1;
	overflow: hidden;
	margin: 0;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.primary-define .megamenu li:hover .dropdown-container {
	z-index: 2;
}
.primary-define .megamenu li.product .dropdown-container,
.primary-define .megamenu li.category .dropdown-container {
	left: 0;
	width: 100%;
}
.primary-define .megamenu li .dropdown:before {
	top: 0;
	left: 0;
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.primary-define .megamenu li.html .dropdown,
.primary-define .megamenu li.category .dropdown {
	padding: 0 10px;
}
.primary-define .megamenu li.html .dropdown {
	padding: 10px;
	display: none;
}
.primary-define .megamenu li.html:hover .dropdown {
	display: block;
}
.primary-define .megamenu li.category .dropdown .sublevel {
	padding: 0;
	float: none;
	width: auto;
	border: none;
}
.primary-define .megamenu li.category .dropdown .sublevel > li {
	margin: 10px;
	width: 263px;
	vertical-align: top;
	display: inline-block;
}
.primary-define .megamenu li.category .dropdown .subcat li a {
	border: none;
	font-size: 15px;
	display: inline-block;
	padding: 5px 10px 5px 18px;
	background: url(../image/icons/icon-arrow-nav.png) left center no-repeat;
}
.primary-define .megamenu li.category .dropdown .subcat li:hover a {
	color: #000;
}
.primary-define .megamenu .sublevel li .menu-category-title {
	color: #212121;
	border: none;
	padding: 11px 0;
	font-size: 16px;
	font-weight: 600;
	background: none;
	margin-bottom: 11px;
	border-bottom: 1px solid #ddd;
}
.primary-define .megamenu .sublevel li:hover > .menu-category-title,
.primary-define .megamenu .sublevel li.active > .menu-category-title {
	background: none;
}
.primary-define .megamenu .sublevel li .menu-category-description {
	color: #666;
}
.primary-define .megamenu .sublevel li .menu-category-image {
	padding: 5px;
	margin: 5px auto;
	border: 1px solid #eee;
}
.primary-define .megamenu .sublevel li .menu-category-image.float-left {
	float: left;
}
.primary-define .megamenu .sublevel li .menu-category-image.float-right {
	float: right;
}
.primary-define .megamenu .box-product a {
	padding: 0;
}
.primary-define .megamenu .box-product .options a {
	color: #fff;
	padding: 22px 20px 22px 50px;
}
/* FILTER */
.primary-define .kuler-filter .box-content {
	padding: 0 20px;
}
.primary-define .kuler-filter .box-content > div {
	margin-top: 20px;
}
.primary-define .kuler-filter .box-content p {
	color: #333;
	margin: 5px 0;
	font-weight: 600;
	text-transform: uppercase;
}
.primary-define .kuler-filter .box-content select {
	width: 100%;
}
.primary-define .kuler-filter .box-content .price-slide {
	margin: 30px;
}
/* FINDER */
.primary-define .kuler-finder .ui-menu {
	padding: 0;
	right: -1px;
	border: none;
	background: #fff;
	z-index: 2 !important;
	left: auto !important;
	width: 500px !important;
	border-radius: 0;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.primary-define .kuler-finder .ui-menu li {
	margin: 0;
	padding: 0;
	clear: both;
}
.primary-define .kuler-finder .box-product > div {
	text-align: left;
	border: 1px solid #ddd;
	border-top-color: transparent;
}
.primary-define .kuler-finder .box-product .left {
	border: none;
}
.primary-define .kuler-finder .box-product .image a {
	line-height: normal !important;
}
.primary-define .kuler-finder .box-product .options {
	display: none;
}
.primary-define .kuler-finder .box-product .name a {
	padding: 0;
	font-size: 16px;
}
.primary-define .kuler-finder .box-product .description {
	margin: 5px 0 0 0;
}
.primary-define .kuler-finder #load-more-container {
	text-align: center;
}
.primary-define .kuler-finder #load-more-container a,
.primary-define .kuler-finder li .ui-corner-all {
	margin: 0;
	border: none;
	padding: 10px 0;
	background: none;
	text-align: center;
	font: 14px Arial, Helvetica, sans-serif;
	border-radius: 0;
}
.primary-define .kuler-finder select {
	padding: 8px;
	height: 38px;
	vertical-align: top;
}
/* CSS3 SLIDESHOW */
.primary-define .kuler-css3-slideshow .box-heading {
	text-align: left;
}
/* SOCIAL ICONS */

/* NEWSLETTER */
.primary-define .kuler-newsletter form span {
	font-size: 20px;
}
.primary-define .kuler-newsletter form input {
	padding: 10px 0;
}
.primary-define .kuler-newsletter form input,
.primary-define .kuler-newsletter form button {
	vertical-align: middle;
}
/* TABS */
.primary-define .kuler-tabs {
	font-size: 14px;
	line-height: 160%;
	background: none !important;
}
.primary-define .kuler-tabs .box {
	margin: 0;
	padding: 0;
	overflow: visible;
}
.primary-define .kuler-tabs ul.module-nav-list {
	margin: 0;
	padding: 0;
	background: none;
	position: relative;
	border-radius: 0;
}
.primary-define .kuler-tabs ul.module-nav-list li {
	padding: 0;
	border-radius: 0;
}
.primary-define .kuler-tabs ul.module-nav-list li a {
	float: none;
	color: #525252;
	display: block;
	font-size: 20px;
	overflow: hidden;
	font-weight: 600;
	padding: 15px 20px;
	border-right: 1px solid #ddd;
}
.primary-define .kuler-tabs ul.module-nav-list li a span {
	padding: 0;
}
.kuler-tabs .kuler-tabs-content {
	overflow: hidden;
}
/* OUTSIDE CONTENT */
.primary-define #column-left .kuler-tabs ul.module-nav-list li,
.primary-define #column-right .kuler-tabs ul.module-nav-list li {
	float: none;
	padding: 20px 0;
}
.primary-define #column-left .kuler-tabs ul.module-nav-list li a,
.primary-define #column-right .kuler-tabs ul.module-nav-list li a {
	float: none;
	display: block;
	padding: 0 20px;
	font-size: 26px;
}
.primary-define #column-left .kuler-tabs ul.module-nav-list li a:before,
.primary-define #column-right .kuler-tabs ul.module-nav-list li a:before {
	display: none;
}
.primary-define #column-left .kuler-tabs ul.module-nav-list li a span,
.primary-define #column-right .kuler-tabs ul.module-nav-list li a span {
	border: none;
}
/* SLIDES */
.primary-define .kuler-slides .box {
	margin: 0;
	padding: 0;
	overflow: visible;
}
.primary-define .kuler-slides .jcarousel-clip {
	overflow: hidden;
}
.primary-define .kuler-slides .jcarousel-next-horizontal,
.primary-define .kuler-slides .jcarousel-prev-horizontal {
	margin: 0;
	top: -50px;
	width: 30px;
	height: 30px;
}
.primary-define .kuler-slides .jcarousel-next-horizontal,
.primary-define .kuler-slides .jcarousel-container:hover .jcarousel-next-horizontal {
	right: 20px;
}
.primary-define .kuler-slides .jcarousel-prev-horizontal,
.primary-define .kuler-slides .jcarousel-container:hover .jcarousel-prev-horizontal {
	left: auto;
	right: 52px;
}
.primary-define .kuler-slides .jcarousel-next-horizontal:before,
.primary-define .kuler-slides .jcarousel-prev-horizontal:before {
	width: 26px;
	height: 26px;
}
/* ACCORDION */
.primary-define .kuler-accordion {
	margin-right: 1px;
}
.primary-define .kuler-accordion .slide .item-content {
	margin: 0 !important;
	border: none !important;
}
.primary-define .kuler-accordion .slide .box-product {
	z-index: 1;
	padding: 10px;
	position: relative;
	margin: 0 !important;
	border: none !important;
}
.primary-define .kuler-accordion .slide .box-product > div {
	position: static;
}
.primary-define .kuler-accordion .slide .box-product .left {
	border: none;
}
.primary-define .kuler-accordion .slide .item-title {
	border-radius: 0;
}
.primary-define .kuler-accordion .slide .item-title.selected {
	background-color: #ededed;
}
.primary-define .kuler-accordion .slide .item-title span {
	border-radius: 0;
}
/* ADVANCED HTML */
.primary-define .kuler-advanced-html .box .box {
	padding: 0;
}
.primary-define .kuler-advanced-html .box .box:before {
	display: none;
}
/* BLOG MANAGER */
/* 1 column */
.primary-define .blog-feed {
	margin: 0;
	padding: 10px !important;
	border-bottom: 1px solid #ddd;
}
.primary-define .article-list {
	margin-left: 1px;
	overflow: hidden;
	padding: 0 !important;
}
.primary-define .article {
	padding: 1px 0;
	position: relative;
}
.primary-define .article:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define .article .article-image {
	z-index: 1;
	margin-right: 20px;
	position: relative;
}
.primary-define .article .article-image img {
	vertical-align: middle;
}
.primary-define .article .article-header h1 {
	border: none;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.primary-define .article .article-header h2 {
	font-weight: 600;
}
.primary-define .article .article-content {
	padding-bottom: 45px;
}
.primary-define .article .article-read-more {
	right: 0;
	bottom: 0;
	clear: none;
	width: 100%;
	position: absolute;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.primary-define .article .article-read-more a {
	margin: 0 0 0 10px;
}
/* multi-column */
.primary-define .column-2,
.primary-define .column-3,
.primary-define .column-4 {
	font-size: 0;
	margin-left: -31px;
	position: relative;
}
.primary-define .column-2:before,
.primary-define .column-3:before,
.primary-define .column-4:before {
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	position: absolute;
	border-bottom: 1px solid #ddd;
}
.primary-define .column-2 .article,
.primary-define .column-3 .article,
.primary-define .column-4 .article {
	padding: 0;
	width: 49.95%;
	font-size: 14px;
	vertical-align: top;
	display: inline-block;
	border-left: 1px solid #ddd;
}
.primary-define .column-3 .article {
	width: 33.3%;
}
.primary-define .column-4 .article {
	width: 24.975%;
}
.primary-define .column-2 .article .inner,
.primary-define .column-3 .article .inner,
.primary-define .column-4 .article .inner {
	padding: 1px 0;
	margin-left: 30px;
	position: relative;
	border-left: 1px solid #ddd;
}
.primary-define .column-2 .article-image,
.primary-define .column-3 .article-image,
.primary-define .column-4 .article-image {
	margin: 1px;
	float: none;
	text-align: center;
}
.primary-define .column-2 .article-header,
.primary-define .column-2 .article-content,
.primary-define .column-3 .article-header,
.primary-define .column-3 .article-content,
.primary-define .column-4 .article-header,
.primary-define .column-4 .article-content {
	padding-left: 20px;
	padding-right: 20px;
}
/* article */
.primary-define .article .last-update {
	color: #999;
	font-style: italic;
}
.primary-define .comment-container {
	background: none;
}
.primary-define .comment-container .comment-list .author {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}
.primary-define .comment-container .comment-list li {
	margin: 0;
	padding: 20px 0;
	background: none;
	position: relative;
}
.primary-define .comment-container > .comment-list > li {
	margin: -1px 0 0 0;
}
.primary-define .comment-container > .comment-list > li:before {
	top: 0;
	content: "";
	width: 999em;
	left: -999px;
	position: absolute;
	border-top: 1px solid #ddd;
}
.primary-define .comment-container > .comment-list > li:after {
	bottom: 0;
	content: "";
	width: 999em;
	left: -999px;
	position: absolute;
	border-bottom: 1px solid #ddd;
}
.primary-define .comment-container .comment-list li li {
	margin-left: 60px;
	border-top: 1px solid #ddd;
}
.primary-define .comment-container .comment-list #comment-form {
	margin-left: 70px;
	border: 1px solid #ddd;
}
.primary-define #comment-form #comment-form-title {
	display: none;
}
.primary-define #comment-form #reply-cancel {
	margin: 0;
}
.primary-define #comment-form #validator-captcha img {
	margin-left: 10px;
	vertical-align: middle;
}
.primary-define #comment-form #form-comment td {
	padding: 5px;
}
/* ADDITONAL BLOG MODULES */
.primary-define .kbm-recent-article .articles,
.primary-define .kbm-popular-article .articles {
	margin: 0;
}
.primary-define .kbm-recent-article li,
.primary-define .kbm-popular-article li {
	margin: 0;
	float: left;
	width: 33.3%;
	text-align: center;
	position: relative;
	list-style-type: none;
}
.primary-define .kbm-recent-article li:before,
.primary-define .kbm-popular-article li:before {
	top: 0;
	left: 0;
	content: "";
	height: 999px;
	position: absolute;
	border-left: 1px solid #ddd;
}
.primary-define .kbm-recent-article li .avatar,
.primary-define .kbm-popular-article li .avatar {
	display: block;
	padding: 10px 0;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.primary-define .kbm-recent-article li .avatar:before,
.primary-define .kbm-popular-article li .avatar:before {
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	background: rgba(51, 51, 51, 0.9);
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}
.primary-define .kbm-recent-article li .avatar:hover:before,
.primary-define .kbm-popular-article li .avatar:hover:before {
	opacity: 1;
}
.primary-define .kbm-recent-article li .avatar:after,
.primary-define .kbm-popular-article li .avatar:after {
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	background: url(../image/icons/icon-eye.png) center center no-repeat;
	transition: 0.3s ease 0.1s;
	-moz-transition: 0.3s ease 0.1s;
	-webkit-transition: 0.3s ease 0.1s;
}
.primary-define .kbm-recent-article li .avatar:hover:after,
.primary-define .kbm-popular-article li .avatar:hover:after {
	top: 0;
}
.primary-define .kbm-recent-article li .avatar img,
.primary-define .kbm-popular-article li .avatar img {
	vertical-align: middle;
}
.primary-define .kbm-recent-article li .article-title,
.primary-define .kbm-popular-article li .article-title {
	display: block;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	margin: 15px 20px 5px 20px;
}
.primary-define .kbm-recent-article li p,
.primary-define .kbm-popular-article li p {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.primary-define .kbm-recent-article li .date,
.primary-define .kbm-popular-article li .date {
	display: none;
}
/* ADDITIONAL MODULES IN SIDEBAR */
.primary-define #column-left .kbm-latest-comment .comments,
.primary-define #column-right .kbm-latest-comment .comments {
	margin: 0;
}
.primary-define #column-left .kbm-latest-comment .comments img,
.primary-define #column-right .kbm-latest-comment .comments img {
	vertical-align: middle;
}
.primary-define #column-left .kbm-latest-comment li,
.primary-define #column-right .kbm-latest-comment li {
	margin: 0;
	padding: 10px;
	border-top: 1px solid #ddd;
}
.primary-define #column-left .kbm-latest-comment li:first-child,
.primary-define #column-right .kbm-latest-comment li:first-child {
	border: none;
}
.primary-define #column-left .kbm-recent-article li,
.primary-define #column-left .kbm-popular-article li,
.primary-define #column-right .kbm-recent-article li,
.primary-define #column-right .kbm-popular-article li {
	float: none;
	width: auto;
	padding: 10px;
	border-top: 1px solid #ddd;
}
.primary-define #column-left .kbm-recent-article li:first-child,
.primary-define #column-left .kbm-popular-article li:first-child,
.primary-define #column-right .kbm-recent-article li:first-child,
.primary-define #column-right .kbm-popular-article li:first-child {
	border: none;
}
.primary-define #column-left .kbm-recent-article li:before,
.primary-define #column-left .kbm-popular-article li:before,
.primary-define #column-left .kbm-recent-article li:after,
.primary-define #column-left .kbm-popular-article li:after,
.primary-define #column-right .kbm-recent-article li:before,
.primary-define #column-right .kbm-popular-article li:before,
.primary-define #column-right .kbm-recent-article li:after,
.primary-define #column-right .kbm-popular-article li:after {
	display: none;
}
.primary-define #column-left .kbm-recent-article li .article-title,
.primary-define #column-left .kbm-popular-article li .article-title,
.primary-define #column-right .kbm-recent-article li .article-title,
.primary-define #column-right .kbm-popular-article li .article-title {
	margin: 3px 0;
	font-size: 13px;
}
.primary-define #column-left .kbm-recent-article li p,
.primary-define #column-left .kbm-popular-article li p,
.primary-define #column-right .kbm-recent-article li p,
.primary-define #column-right .kbm-popular-article li p {
	margin: 3px 0;
	font-size: 13px;
}
.primary-define #column-left .kbm-recent-article li .avatar,
.primary-define #column-left .kbm-popular-article li .avatar,
.primary-define #column-right .kbm-recent-article li .avatar,
.primary-define #column-right .kbm-popular-article li .avatar {
	padding: 0;
	border: none;
}
.primary-define #column-left .kbm-recent-article li .avatar:before,
.primary-define #column-left .kbm-popular-article li .avatar:before,
.primary-define #column-right .kbm-recent-article li .avatar:before,
.primary-define #column-right .kbm-popular-article li .avatar:before,
.primary-define #column-left .kbm-recent-article li .avatar:after,
.primary-define #column-left .kbm-popular-article li .avatar:after,
.primary-define #column-right .kbm-recent-article li .avatar:after,
.primary-define #column-right .kbm-popular-article li .avatar:after {
	display: none;
}
.primary-define #column-left .kbm-recent-article li .date,
.primary-define #column-left .kbm-popular-article li .date,
.primary-define #column-right .kbm-recent-article li .date,
.primary-define #column-right .kbm-popular-article li .date {
	color: #999;
	display: block;
	font-size: 13px;
	text-align: right;
	font-style: italic;
}
.primary-define #column-left .kbm-latest-comment .content,
.primary-define #column-right .kbm-latest-comment .content {
	font-size: 13px;
	font-weight: 600;
}
.primary-define #column-left .kuler-blog-manager-popular-article-tag .box-content,
.primary-define #column-right .kuler-blog-manager-popular-article-tag .box-content {
	padding: 10px;
}
/* LAYER SLIDER */
.primary-define .layerslider-wrapper ul li {
	margin: 0;
}