/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/

/* ============================== RESOLUTION 1024px ============================== */
@media screen and (max-width: 1024px) {
	.primary-define .wrapper {
		width: auto;
		margin: 0 30px;
	}
	.primary-define #column-left + #content,
	.primary-define #column-right + #content {
		width: 668px;
	}
	.primary-define .product-info > .left,
	.primary-define .product-info > .right {
		float: none;
		width: auto !important;
		margin: 0 !important;
	}
	.primary-define .product-info {
		padding: 0 !important;
	}
	.primary-define .product-info > .left:before {
		display: none;
	}
	/* CONTAINER */
	.primary-define #container {
		overflow-x: hidden;
	}
	/* PRODUCT */
	.primary-define .product-info .zoomPup,
	.primary-define .product-info .zoomWindow,
	.primary-define .product-info .zoomPreload {
		display: none !important;
	}
	.primary-define .product-info .image a {
		max-width: 100%;
	}
	.primary-define .product-info .image img {
		height: auto;
		max-width: 100%;
	}
	/* BOTTOM */
	.primary-define #bottom {
		overflow: hidden;
	}
	/* FOOTER */
	.primary-define #footer {
		overflow: hidden;
	}
	.primary-define #powered {
		overflow: hidden;
	}
	/* CSS3 SLIDESHOW */
	.primary-define .slide.style-5 .jcarousel-inner,
	.primary-define .slide.style-5 .jcarousel-clip {
		height: auto;
	}
}
/* ============================== RESOLUTION 960px ============================== */
@media screen and (max-width: 960px) {
	.primary-define #column-left + #content,
	.primary-define #column-right + #content {
		width: 604px;
	}
}
/* ============================== RESOLUTION 768px ============================== */
@media screen and (max-width: 768px) {
	/* DEFAULT HTML - GRID LAYOUT */
	.primary-define .grid-2,
	.primary-define .grid-3,
	.primary-define .grid-4 {
		margin: 0 !important;
		width: auto !important;
		float: none !important;
	}
	/* HEADER */
	.primary-define #topbar #language,
	.primary-define #topbar #currency {
		display: none;
	}
	.primary-define #search {
		width: auto;
		position: static;
		border: 1px solid #ddd;
		border-left: none;
	}
	.primary-define #search input {
		min-width: 100%;
	}
	/* MENU */
	.primary-define #menu #btn-mobile-toggle {
		display: block;
	}
	.primary-define .mainmenu {
		display: none;
		background-color: #eee;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
	.primary-define .mainmenu > li {
		float: none;
		border-top: 1px solid #fff;
	}
	.primary-define .mainmenu li .btn-expand-menu {
		display: block;
	}
	.primary-define .mainmenu li .dropdown-container {
		opacity: 1;
		display: none;
		position: static;
		background: #fff;
		visibility: visible;
		margin: 0 !important;
		transition: none;
	}
	.primary-define .mainmenu li .dropdown {
		background: none;
		width: auto !important;
		box-shadow: none;
	}
	.primary-define .mainmenu .sublevel {
		padding: 0;
		width: auto;
		float: none;
	}
	.primary-define .mainmenu .sublevel li.parent > a:after {
		display: none;
	}
	.primary-define .mainmenu .sublevel li:hover > a,
	.primary-define .mainmenu .sublevel li.active > a {
		color: #fff;
		background-color: #666;
	}
	.primary-define .mainmenu .sublevel .dropdown-container li a {
		padding-left: 50px;
	}
	.primary-define .mainmenu .sublevel .sublevel .dropdown-container li a {
		padding-left: 70px;
	}
	.primary-define .mainmenu .sublevel .sublevel .sublevel .dropdown-container li a {
		padding-left: 90px;
	}
	.primary-define .mainmenu > li > a {
		border: none;
		padding: 10px 15px;
	}
	.primary-define .breadcrumb {
		padding: 0 10px !important;
	}
	.primary-define .breadcrumb,
	.primary-define .breadcrumb a:after {
		line-height: 40px;
	}
	.primary-define .breadcrumb a {
		font-size: 15px;
		line-height: 40px;
	}
	/* PRODUCTS GRID */
	.primary-define .product-grid {
		margin-left: 0;
		text-align: center;
	}
	.primary-define .product-grid > div {
		margin: 0 15px;
		padding-left: 0;
	}
	.primary-define .product-grid > div:before {
		left: 0;
	}
	.primary-define .product-grid .options {
		text-align: left;
	}
	.primary-define #column-left,
	.primary-define #column-right {
		display: none;
	}
	.primary-define #column-left + #content,
	.primary-define #column-right + #content {
		margin: 0;
		float: none;
		width: auto;
	}
	/* BOTTOM */
	.primary-define #bottom .wrapper > div {
		padding: 0 30px;
	}
	/* footer */
	.primary-define #footer .wrapper > div {
		padding: 0 30px;
	}
	.primary-define #powered {
		text-align: center;
	}
	.primary-define #footer-payments {
		float: none;
	}
	/* Finder */
	.primary-define .kuler-finder select {
		width: 100%;
		display: block;
		margin-top: 5px;
	}
	/* Social Icons */
	.primary-define .kuler-social-icons {
		text-align: center;
	}
	/* Newsletter */
	.primary-define .kuler-newsletter {
		text-align: center;
	}
	/* Mega Menu */
	.primary-define .megamenu li.product,
	.primary-define .megamenu li.category {
		position: relative;
	}
	.primary-define .megamenu li .dropdown:before {
		display: none;
	}
	.primary-define .megamenu li.html .dropdown {
		display: block;
	}
	.primary-define .megamenu li.html .dropdown > * {
		max-width: 100%;
	}
	.primary-define .megamenu li.category .dropdown .sublevel > li {
		width: auto;
		display: block;
	}
	.primary-define .megamenu li.category .dropdown .sublevel > li:after {
		height: 0;
		clear: both;
		content: "";
		display: block;
		visibility: hidden;
	}
	.primary-define .megamenu .box-product .bb {
		height: auto !important;
	}
	.primary-define .megamenu li.category .dropdown {
		padding: 1px 1px 15px 1px;
	}
}
/* ============================== RESOLUTION 640px ============================== */
@media screen and (max-width: 640px) {
	/* PRODUCT LIST */
	.primary-define .product-list .left,
	.primary-define .product-list .right {
		border: none;
		display: block;
		text-align: center;
	}
	/* PRODUCT */
	.primary-define .product-filter .display {
		text-align: right;
	}
	.primary-define .product-filter .display,
	.primary-define .product-filter .product-compare {
		padding-left: 0;
		border-left: none;
		padding-bottom: 16px;
		border-bottom: 1px solid #eee;
	}
	.primary-define .product-filter .product-compare {
		float: none;
	}
	.primary-define .product-filter .sort,
	.primary-define .product-filter .limit {
		margin: 0;
		padding-top: 16px;
	}
	.primary-define .product-filter .sort {
		float: left;
	}
	.primary-define .product-filter .limit {
		text-align: right;
	}
	/* Tabs */
	.primary-define .kuler-tabs ul.module-nav-list {
		border: none;
		position: relative;
	}
	.primary-define .kuler-tabs ul.module-nav-list li {
		z-index: 2;
		float: none;
		display: none;
		padding: 10px 0;
		transition: none;
	}
	.primary-define .kuler-tabs ul.module-nav-list li:first-child {
		display: block;
	}
	.primary-define .kuler-tabs ul.module-nav-list li.ui-state-active {
		z-index: 0;
		display: block;
	}
	.primary-define .kuler-tabs ul.module-nav-list li#btn-tabs-toggle {
		padding: 0;
		display: block;
	}
	.primary-define .kuler-tabs ul.module-nav-list li a {
		padding-top: 0;
		padding-bottom: 0;
		overflow: hidden;
		position: relative;
	}
	.primary-define .kuler-tabs ul.module-nav-list .ui-state-active a:after,
	.primary-define .kuler-tabs ul.module-nav-list.collapse .ui-state-active a:after {
		top: 50%;
		right: 5px;
		content: "\e624";
		width: 30px;
		height: 30px;
		display: block;
		font-size: 22px;
		line-height: 30px;
		margin-top: -15px;
		position: absolute;
		text-align: center;
		transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-webkit-transition: 0.3s ease-in-out;
		transform-origin: center center;
		-moz-transform-origin: center center;
		-webkit-transform-origin: center center;
		transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}
	.primary-define .kuler-tabs ul.module-nav-list.expand .ui-state-active a:after {
		transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
	.primary-define .kuler-tabs ul.module-nav-list li a span {
		border-right: none;
	}
}
/* ============================== RESOLUTION 480px ============================== */
@media screen and (max-width: 480px) {
	/* HEADER */
	.primary-define #topbar .links a:hover,
	.primary-define #topbar #welcome a:hover {
		font-size: 0;
		width: 51px !important;
	}
	.primary-define #topbar .links a:hover:before,
	.primary-define #topbar #welcome a:hover:before {
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
	}
	/* content */
	.primary-define #content .content .left,
	.primary-define #content .content .right {
		float: none;
		width: auto;
	}
	/* checkout */
	.primary-define .login-content .left,
	.primary-define .login-content .right,
	.primary-define .checkout-content .left,
	.primary-define .checkout-content .right {
		float: none;
		width: auto;
	}
	.primary-define .login-content .left .content,
	.primary-define .login-content .right .content {
		min-height: 0;
	}
	/* cart */
	.primary-define .cart-info table td.model {
		display: none;
	}
	/* table */
	.primary-define table.form td:first-child {
		white-space: normal;
	}
	/* orders */
	.primary-define .order-list table tr,
	.primary-define .order-list table td {
		display: block;
	}
	.primary-define .order-list table thead,
	.primary-define .order-list table tbody {
		float: left;
		width: 50%;
	}
	/* table */
	.primary-define table.list td.left.model,
	.primary-define table.list td.right.price,
	.primary-define table.list td.right.quantity {
		display: none;
	}
	/* cart */
	.primary-define .cart-info table td.image,
	.primary-define .cart-info table td.price {
		display: none;
	}
	.primary-define .cart-module #shipping td {
		display: block;
	}
	/* checkout */
	.primary-define .checkout-content #payment-new table.form td,
	.primary-define .checkout-content #shipping-new table.form td {
		display: block;
	}
}
/* ============================== RESOLUTION 360px ============================== */
@media screen and (max-width: 360px) {
	/* HEADER */
	.primary-define #topbar #welcome {
		display: none;
	}
	.primary-define #header #cart {
		border-top: 1px solid #ddd;
	}
	.primary-define #header #cart:before {
		display: none;
	}
	.primary-define #header #cart .heading {
		width: auto;
	}
	.primary-define #header #cart .content {
		width: 244px;
	}
	.primary-define #header #cart .checkout a {
		margin: 5px 0;
	}
	.primary-define .product-grid > div {
		margin: 0 auto;
		max-width: 243px;
	}
	.primary-define .product-grid > div .name,
	.primary-define .product-grid > div .description {
		width: auto !important;
	}
}
/* ============================== RESOLUTION 320px ============================== */
@media screen and (max-width: 320px) {

}