/* NEWSLETTER */
.primary-define #custom-newsletter {
	overflow: hidden;
	text-align: center;
	position: relative;
}
.primary-define #custom-newsletter:before {
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(51, 51, 51, 0.8);
}
.primary-define #custom-newsletter .box-heading {
	padding-bottom: 10px;
}
.primary-define #custom-newsletter .box-heading span {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}
.primary-define #custom-newsletter .box-heading:before {
	display: none;
}
.primary-define #custom-newsletter img {
	width: 280px;
	height: 396px;
	vertical-align: middle;
}
.primary-define #custom-newsletter #mail-icon {
	top: 55px;
	left: 50%;
	width: auto;
	height: auto;
	margin-left: -21px;
	position: absolute;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.primary-define #custom-newsletter:hover #mail-icon {
	opacity: 0;
	transform: scale(10);
	-moz-transform: scale(10);
	-webkit-transform: scale(10);
}
.primary-define #custom-newsletter .kuler-newsletter {
	left: 0;
	top: 90px;
	width: 280px;
	position: absolute;
	transition: 0.5s ease 0.1s;
	-moz-transition: 0.5s ease 0.1s;
	-webkit-transition: 0.5s ease 0.1s;
}
.primary-define #custom-newsletter:hover .kuler-newsletter {
	top: 50px;
}
.primary-define #custom-newsletter span {
	color: #ddd;
	font-size: 14px;
	margin-bottom: 15px;
}
.primary-define #custom-newsletter input,
.primary-define #custom-newsletter button {
	margin: 5px 0;
	text-align: center;
}
/* CUSTOM BANNER 01 */
.primary-define #custom-banner-1 {
	margin: 0 1px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
.primary-define #custom-banner-1 .banner-container {
	width: 75%;
	z-index: 1;
	text-align: center;
	position: relative;
	padding: 50px 0 30px 0;
	background-color: #F54B76;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.primary-define #custom-banner-1:hover .banner-container {
	width: 50%;
}
.primary-define #custom-banner-1 .banner-title {
	color: #fff;
	font-size: 36px;
	font-weight: 600;
}
.primary-define #custom-banner-1 .banner-desc {
	color: #212121;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
}
.primary-define #custom-banner-1 .button {
	margin: 0 2px;
	padding: 5px 12px;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.4);
}
.primary-define #custom-banner-1 .button:hover {
	color: #fff;
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.2);
}
.primary-define #custom-banner-1 img {
	top: 0;
	left: 62%;
	position: absolute;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.primary-define #custom-banner-1:hover img {
	left: 50%;
	-webkit-animation: portrait 7s linear infinite forwards 0.3s;
	-moz-animation: portrait 7s linear infinite forwards 0.3s;
	-o-animation: portrait 7s linear infinite forwards 0.3s;
	-ms-animation: portrait 7s linear infinite forwards 0.3s;
	animation: portrait 7s linear infinite forwards 0.3s;
}
@-webkit-keyframes portrait {
    0%{ 
		top: 0;
	}
	50%{
		top: -100%;
	}
	100%{
		top: 0;
	}
}
@-moz-keyframes portrait {
    0%{ 
		top: 0;
	}
	50%{
		top: -100%;
	}
	100%{
		top: 0;
	}
}
@keyframes portrait {
    0%{ 
		top: 0;
	}
	50%{
		top: -100%;
	}
	100%{
		top: 0;
	}
}
/* CUSTOM BANNER 02 */
.primary-define #custom-banner-2 {
	margin: 0 1px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
.primary-define #custom-banner-2:before {
	top: 50px;
	z-index: 1;
	content: "";
	opacity: 1;
	left: 250px;
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: visible;
	display: inline-block;
	border: 50px solid rgba(0, 0, 0, 0.7);
	transform: scale(7);
	-moz-transform: scale(7);
	-webkit-transform: scale(7);
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.primary-define #custom-banner-2:hover:before {
	opacity: 0;
	visibility: hidden;
	border: 0 solid rgba(0, 0, 0, 0.7);
}
.primary-define #custom-banner-2 .banner-container {
	width: 50%;
	z-index: 1;
	float: right;
	text-align: center;
	position: relative;
	padding: 50px 0 30px 0;
	background-color: #222;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.primary-define #custom-banner-2 .banner-title {
	color: #fff;
	font-size: 36px;
	font-weight: 600;
}
.primary-define #custom-banner-2 .banner-desc {
	color: #F34B76;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
}
.primary-define #custom-banner-2 .button {
	margin: 0 2px;
	padding: 5px 12px;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.4);
}
.primary-define #custom-banner-2 .button:hover {
	color: #fff;
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.2);
}
.primary-define #custom-banner-2 img {
	top: 0;
	left: 0;
	height: 100%;
	position: absolute;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.primary-define #custom-banner-2:hover img {
	-webkit-animation: landscape 7s linear infinite forwards 0.3s;
	-moz-animation: landscape 7s linear infinite forwards 0.3s;
	-o-animation: landscape 7s linear infinite forwards 0.3s;
	-ms-animation: landscape 7s linear infinite forwards 0.3s;
	animation: landscape 7s linear infinite forwards 0.3s;
}
@-webkit-keyframes landscape {
    0%{ 
		left: 0;
	}
	50%{
		left: -10%;
	}
	100%{
		left: 0;
	}
}
@-moz-keyframes landscape {
    0%{ 
		left: 0;
	}
	50%{
		left: -10%;
	}
	100%{
		left: 0;
	}
}
@keyframes landscape {
    0%{ 
		left: 0;
	}
	50%{
		left: -10%;
	}
	100%{
		left: 0;
	}
}





