.jcarousel {
	margin: 30px 0;
}
.jcarousel .jcarousel-container {
	padding: 0 60px;
}
.jcarousel .jcarousel-clip {
	width: 100%;
	overflow: hidden;
}
.jcarousel .jcarousel-item {
	margin: 0;
	text-align: center;
}
.jcarousel .jcarousel-item img {
	vertical-align: middle;
}
.jcarousel .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-right: 0;
	margin-left: 10px;
}
.jcarousel .jcarousel-item-placeholder {
	color: #000;
	background: #fff;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-container .jcarousel-next-horizontal,
.jcarousel-container .jcarousel-prev-horizontal {
	cursor: pointer;
	position: absolute;
}
.jcarousel-container .jcarousel-next-horizontal:before,
.jcarousel-container .jcarousel-prev-horizontal:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #333;
	width: 40px;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 22px;
	color: #fff;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.jcarousel-container .jcarousel-next-horizontal:before {
	content: "\e6d8";
}
.jcarousel-container .jcarousel-prev-horizontal:before {
	content: "\e6d5";
}
.jcarousel-container .jcarousel-next-horizontal,
.jcarousel-container .jcarousel-prev-horizontal {
	top: 50%;
	margin-top: -20px;
}
.jcarousel-container .jcarousel-next-horizontal {
	right: 0;
}
.jcarousel-container .jcarousel-prev-horizontal {
	left: 0;
}