/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/

.is-ie {
	overflow-x: hidden;
}
.is-ie input,
.is-ie select,
.is-ie textarea {
	line-height: 120%;
}
/* input */
.is-ie input {
	position: static;
	overflow: visible;
}
.is-ie input[type*="radio"],
.is-ie input[type*="checkbox"] {
	border: none;
	outline: none;
	background: none;
	vertical-align: bottom;
}
.is-ie .tab-content {
	width: 100%;
}
.is-ie .mainmenu li .dropdown {
	margin: 0;
	display: none;
}
.is-ie #header #cart .inner {
	margin: 0;
	display: none;
}
.is-ie table.list tbody td.quantity input {
	vertical-align: top;
}
.is-ie .options{
	display: none;
}
.is-ie .product-grid > div:hover .options{
	display: block;
}
.is-ie .product-list > div:hover .options{
	display: block;
}
.is-ie #powered .wrapper{
	padding: 30px 0 0 0;
}
.is-ie #powered .wrapper p{
	padding-left: 30px;
}
#header #topbar{
	height: 60px !important;
}
#header #topbar #cart{
	display: inline-block !important;
	float: right !important;
	padding: 0 !important;
	margin:-15px 0 0 0 !important;
}
.is-ie #topbar .col{
	float: left !important;
}
.is-ie #header #topbar .wrapper{
	display: block;
	padding: 15px 0 0 0 ;
	margin: 0 auto;
}
.is-ie #topbar .links{
	width: 700px !important;
	padding: 0 !important;
}
.is-ie #topbar #currency{
	padding: 0 !important;
}
.is-ie .product-grid > div,.product-list > div{
	display: inline-block;
}
.page_category #content .product-grid > div {
	width: 33.3% !important;
}
.is-ie .box-product > div:hover .options{
	display: block !important;
}
.is-ie .options{
	display: none !important;
	background: #ffffff;
}
.is-ie #content .product-grid > div {
	width: 24.2%;
}
.is-ie .kuler-tabs .box ul.box-heading{
	width: 100% !important;
	text-align: center !important;
	border-top: 1px solid #DDDDDD !important;
	border-bottom: 1px solid #DDDDDD !important;
}
.is-ie .jcarousel-prev-horizontal,.jcarousel-next-horizontal{
	display: none;
}
.is-ie .jcarousel-prev:before,jcarousel-next:before{
	line-height: 40px;
}
.is-ie .limit:after, .sort:after{
	display: none;
}

.is-ie #header #toppanel {
	position: relative;
}
.is-ie #header #toppanel #logo img {
	max-height: 100%;
}

.is-ie #powered .wrapper #footer-payments li {
	float: right;
	margin-left: 15px;
}

.is-ie .product-list {
	padding-top: 30px;
}
.is-ie .product-list > div {
	display: table;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DDDDDD;
}
.is-ie .product-list > div:after {
	content: "";
	display: table;
	visibility: hidden;
	height: 0;
	clear: both;
}
.is-ie .product-list div {
	text-align: left;
}
.is-ie .product-list div .left {
	margin-right: 20px;
	display: table-cell;
	vertical-align: top;
	min-width: 200px;
}
.is-ie .product-list div .left div {
	text-align: center !important;
	display: inline;
}
.is-ie .product-list div .right {
	text-align: left;
	vertical-align: top;
	display: table-cell;
	padding: 0 20px;
}
.is-ie .kuler-tabs {
	margin: 0 30px;
}
.is-ie .kuler-tabs .box ul.box-heading {
	text-align: center;
	border-top: 1px solid #DDDDDD !important;
	border-bottom: 1px solid #DDDDDD !important;
	margin: 0 0 30px;
}
.is-ie .kuler-tabs .box ul.box-heading li {
	background: none;
	float: none;
}
.is-ie .kuler-tabs .box ul.box-heading li a {
	color: #3F3F40;
}
.is-ie .kuler-css3-slideshow,
.is-ie .kuler-advanced-html {
	margin-bottom: 20px;
}
.is-ie .category-info {
	text-align: left;
	margin-bottom: 20px;
}
.is-ie .category-info .image {
	float: left;
	margin: 0 20px 0 0;
	border: 1px solid #DDDDDD;
	padding: 10px;
}
.is-ie #container .box .breadcrumb {
	padding: 20px 0;
	margin-bottom: 20px;
}
.is-ie .category-list h2 {
	text-align: left;
	margin-bottom: 20px;
}
.is-ie .product-list .options {
	padding: 25% 0 0;
}
.is-ie .thumblist {
	display: table;
	margin: 0 auto;
}
.is-ie .page_product .product-info .right .description {
	width: 53%;
	float: left;
}
.is-ie .page_product .product-info .right .cart {
	width: 47%;
	float: left;
	padding: 0 0 0 4%;
	border-left: 1px solid #DDDDDD;
}
.is-ie .product-filter {
	display: table;
	border: 1px solid #DDDDDD;
	padding: 15px 15px 0 !important;
	width: 100%;
}
.is-ie .product-filter > div {
	display: table-cell;
	float: none;
}
.is-ie .product-filter .display {
	width: 20%;
}
.is-ie .product-filter .product-compare {
	width: 25%;
}
.is-ie .product-filter .limit {
	width: 20%;
	text-align: right;
}
.is-ie .product-filter .sort {
	width: 35%;
	text-align: right;
}
.is-ie #content {
	padding: 0 20px;
}
.is-ie .home #content {
	padding: 0;
}
.is-ie .login-content > div {
	width: 50%;
	padding: 0 30px;
}
.is-ie .page_register #container #content .content:after {
	content: "";
	display: table;
	visibility: hidden;
	height: 0;
	clear: both;
}
.is-ie .page_register #container #content .content > div {
	width: 50%;
	float: left;
}
.is-ie .page_register #container #content .content > div table tr td {
	padding: 10px 30px;
}