/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/

/* MEGA MENU */
.primary-define .megamenu {
	z-index: 2;
	position: relative;
}
.primary-define .megamenu li.product,
.primary-define .megamenu li.category {
	position: static;
}
.primary-define .megamenu li a {
	color: #666;
}
.primary-define .megamenu li .dropdown-container {
	z-index: 1;
	margin: 0 !important;
}
.primary-define .megamenu li:hover .dropdown-container {
	z-index: 2;
}
.primary-define .megamenu li.product .dropdown-container,
.primary-define .megamenu li.category .dropdown-container {
	left: 0;
	width: 100%;
}
.primary-define .megamenu li .dropdown {
	background-color: #fff !important;
	box-shadow: 0 0 2px rgba(204, 204, 204, 0.65);
	-moz-box-shadow: 0 0 2px rgba(204, 204, 204, 0.65);
	-webkit-box-shadow: 0 0 2px rgba(204, 204, 204, 0.65);
}
.primary-define .megamenu li ul.sublevel {
	background: none;
}
.primary-define .megamenu li.html .dropdown {
	padding: 10px;
	display: none;
}
.primary-define .megamenu li.html:hover .dropdown {
	display: block;
}
.primary-define .megamenu li.product .dropdown {
	padding: 10px;
}
.primary-define .megamenu li.category .dropdown {
	padding: 0 10px;
}
.primary-define .megamenu li.category .dropdown .sublevel {
	padding: 0;
	float: none;
	width: auto;
	border: none;
}
.primary-define .megamenu li.category .dropdown .sublevel > li {
	margin: 10px;
	width: 268px;
	vertical-align: top;
	display: inline-block;
}
.primary-define .megamenu li.category .dropdown .subcat li a {
	display: inline-block;
	padding: 5px 10px 5px 18px;
	background: url(../image/icons/icon-arrow-nav.png) left center no-repeat;
}
.primary-define .megamenu .sublevel li .menu-category-title {
	color: #535353;
	padding: 11px 0;
	font-size: 16px;
	font-weight: 600;
	background: none;
	margin-bottom: 11px;
	border-bottom: 1px dashed #ddd;
}
.primary-define .megamenu .sublevel li:hover > .menu-category-title,
.primary-define .megamenu .sublevel li.active > .menu-category-title {
	background: none;
}
.primary-define .megamenu .sublevel li .menu-category-description {
	color: #999;
}
.primary-define .megamenu .sublevel li .menu-category-image {
	padding: 5px;
	margin: 5px auto;
	border: 1px solid #eee;
}
.primary-define .megamenu .sublevel li .menu-category-image.float-left {
	float: left;
}
.primary-define .megamenu .sublevel li .menu-category-image.float-right {
	float: right;
}
.primary-define .megamenu .box-product a {
	padding: 0;
}
.primary-define .megamenu .box-product .options .cart a {
	color: #fff;
	padding: 10px 15px;
}
/* FILTER */
.primary-define .kuler-filter .box-content > div {
	margin-top: 20px;
}
.primary-define .kuler-filter .box-content p {
	color: #333;
	font-weight: 600;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}
.primary-define .kuler-filter .box-content select {
	width: 100%;
}
.primary-define .kuler-filter .box-content .price-slide {
	margin: 10px;
}
/* FINDER */
.primary-define .kuler-finder .ui-menu {
	right: 0;
	border: none;
	padding: 5px 20px;
	background: #fff;
	z-index: 2 !important;
	left: auto !important;
	width: 500px !important;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
.primary-define .kuler-finder .box-product .left {
	margin: 0;
	float: none;
}
.primary-define .kuler-finder .box-product .image a {
	padding: 0;
}
.primary-define .kuler-finder .box-product .details {
	min-height: 120px;
}
.primary-define .kuler-finder .box-product .name {
	margin: 0;
}
.primary-define .kuler-finder .box-product .name a {
	padding: 0;
}
.primary-define .kuler-finder .box-product .options .cart a {
	padding: 10px 20px;	
}
.primary-define .kuler-finder #load-more-container {
	text-align: center;
}
.primary-define .kuler-finder #load-more-container a,
.primary-define .kuler-finder li .ui-corner-all {
	margin: 0;
	border: none;
	padding: 10px 0;
	background: none;
	text-align: center;
	font: 14px Arial, Helvetica, sans-serif;
	border-radius: 0;
}
.primary-define .kuler-finder select {
	border: none;
	font-weight: 400;
	background-color: #fff;
}
/* CSS3 SLIDESHOW */
.primary-define .kuler-css3-slideshow {
	margin: 0 !important;
}
.primary-define .kuler-css3-slideshow .box-heading {
	text-align: left;
}
.primary-define .kuler-css3-slideshow .kuler-module {
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	position: absolute;
}
/* NEWSLETTER */
.primary-define .kuler-newsletter form span {
	font-size: 20px;
	font-weight: 600;
	margin-right: 5px;
}
.primary-define .kuler-newsletter form input,
.primary-define .kuler-newsletter form button {
	vertical-align: middle;
}
.primary-define .kuler-newsletter input:focus {
	background: #F7F7F7;
}
.primary-define .kuler-newsletter .submit-button {
	padding: 0;
	font-size: 0;
}
.primary-define .kuler-newsletter .submit-button:before {
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e677";
	background: #333333;
	padding: 0 15px;
	line-height: 1.3;
	font-size: 30px;
	display: inline-block;
}
.primary-define .kuler-newsletter .submit-button:hover:before {
	color: #fff;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
/* TABS */
.primary-define .kuler-tabs {
	font-size: 14px;
	line-height: 160%;
}
.primary-define .kuler-tabs ul.module-nav-list {
	margin: 0;
	padding: 0;
	background: none;
	border-radius: 0;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.primary-define .kuler-tabs ul.module-nav-list li {
	padding: 0;
	float: none;
	display: inline-block;
	border-radius: 0;
}
.primary-define .kuler-tabs ul.module-nav-list li a {
	padding: 0;
	float: none;
	display: block;
	font-size: 22px;
	font-weight: 400;
	line-height: 120%;
}
.primary-define .kuler-tabs ul.module-nav-list li a span {
	color: #545454;
	background: none;
}
.primary-define .kuler-tabs ul.module-nav-list .ui-state-active a span {
	color: #fff;
}
/* OUTSIDE CONTENT */
.primary-define #column-left .kuler-tabs ul.module-nav-list,
.primary-define #column-right .kuler-tabs ul.module-nav-list {
	text-align: left;
}
.primary-define #column-left .kuler-tabs ul.module-nav-list li a,
.primary-define #column-right .kuler-tabs ul.module-nav-list li a {
	background: none;
}
/* SLIDES */
.primary-define .kuler-slides .jcarousel-next-horizontal,
.primary-define .kuler-slides .jcarousel-prev-horizontal {
	margin-top: -65px;
}
.primary-define .kuler-slides .jcarousel-prev-horizontal {
	left: auto;
	right: 65px;
}
.primary-define .kuler-slides .jcarousel-next-horizontal:before,
.primary-define .kuler-slides .jcarousel-prev-horizontal:before {
	width: 64px;
	height: 64px;
}
/* ACCORDION */
.primary-define .kuler-accordion .box-heading {
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
.primary-define .kuler-accordion .slide .item-title {
	border-radius: 0 !important;
}
.primary-define .kuler-accordion .slide .item-content {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
/* LAYER SLIDER */
.primary-define .layerslider-wrapper{
    margin: 0 !important;
}
.primary-define .tp-simpleresponsive >ul >li,
.primary-define .tp-simpleresponsive >ul{
    margin: 0 !important;
    z-index: 2 !important;
}
.primary-define .tp-simpleresponsive >ul >li iframe {
    border: none;
}
.primary-define .bannercontainer.banner-fullwidth {
    margin-bottom: 30px !important;
    margin-top: -30px;
}
.primary-define .tp-top{
    top: 0;
    z-index: 2 !important;
}
.primary-define .bannercontainer .fullwidthbanner {
    max-height: 700px !important;
}
/* KULER BLOG MANAGER */
.primary-define .kbm-recent-article ul {
    margin: 0;
}
.primary-define .kbm-recent-article ul li {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-right: 3.15%;
    margin-top: 30px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.primary-define .kbm-recent-article ul li:last-child {
    margin-right: 0;
}
.kbm-recent-article ul li .image {
    overflow: hidden;
    position: relative;
}
.kbm-recent-article ul li img{
    -webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
    -moz-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
    -ms-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
    transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
}
.kbm-recent-article ul li .read-more{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0,0,0,0.5);
    font-size: 0 !important;
    opacity: 0;
    visibility: hidden;
}
.kbm-recent-article ul li .read-more:before{
    background-color: rgba(0, 0, 0, 0.5);
    top: 40%;
    border: 3px solid #FFFFFF;
    border-radius: 100%;
    color: #FFFFFF;
    content: "\e602";
    font-size: 20px;
    left: 40%;
    padding: 11px 11px 12px 12px;
    position: absolute;
    -webkit-transition: all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.1s;
    -moz-transition: all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.1s;
    -ms-transition: all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.1s;
    transition: all 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.1s;
}
.kbm-recent-article ul li:hover .read-more{
    opacity: 1;
    visibility: visible;
}
.primary-define .kbm-recent-article ul li span.date{
    position: absolute;
    top: 120px;
    right: 0;
    background-color: #000000;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 8px;
    color: #FFFFFF;
}
.primary-define .kbm-recent-article .box-heading a{
    color: #000000;
    color: rgba(0,0,0,.65);
}
.primary-define div[class*="article"] ul li a{
    font-size: 20px;
    padding: 10px 0 5px;
    display: block;
    font-weight: 600;
}
.primary-define div[class*="article"] ul li p{
    padding: 0 0 15px;
    margin: 0;
}
.primary-define .kbm-recent-article ul li:hover img {
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
.primary-define #column-right div[class*="article"] ul li,
.primary-define #column-left div[class*="article"] ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}
.primary-define #column-right div[class*="article"] ul li a,
.primary-define #column-left div[class*="article"] ul li a{
    display: block;
    clear: both;
    padding: 10px 0 0 0;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
}
.primary-define #column-right div[class*="article"] ul li img,
.primary-define #column-left div[class*="article"] ul li img{
    float: none;
    margin: 0;
}
.primary-define #column-right div[class*="article"] ul li p,
.primary-define #column-left div[class*="article"] ul li p{
    text-align: left;
    padding: 0;
}
.primary-define #column-right div[class*="article"] ul li span.date,
.primary-define #column-left div[class*="article"] ul li span.date{
    position: relative;
    top: auto;
    right: auto;
    background-color: transparent;
    text-align: left;
    color: #222222;
    padding: 0;
}
.primary-define .blog-feed {
    margin-top: -35px;
}
.primary-define .article {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}
.primary-define .article .article-read-more a {
    text-align: left;
    padding: 8px 12px;
    display: inline-block;
    clear: both;
    color: #FFFFFF;
}
.primary-define .article .article-read-more a:hover {
    background-color: #222;
}
.primary-define .article-list + .pagination,
.primary-define .comment-list + .pagination {
    border: none;
    padding: 0;
}
.primary-define .comment-container {
    padding: 0;
}
.primary-define .comment-stats {
    padding: 10px 20px;
    background-color: #000000;
    font-weight: 600;
    font-size: 18px;
}
.primary-define .article-extra-info {
    font-size: 0;
    color: #b2b2b2;
}
.primary-define .article-extra-info time,
.primary-define .article-extra-info a {
    font-size: 14px;
    margin-right: 15px;
}
.primary-define .comment-stats:before {
    content: "\e612";
    margin-right: 3px;
}
.primary-define .article-extra-info time:before {
    content: "\e60c";
    font-size: 14px;
    margin-right: 3px;
}
.primary-define .article-extra-info .author:before {
    content: "\e60e";
    font-size: 14px;
    margin-right: 3px;
}
.primary-define .article-extra-info .category:before {
    content: "\e610";
    font-size: 14px;
    margin-right: 5px;
}
.primary-define .comment-list .comment {
    padding: 0;
    margin: 0;
}
.primary-define .author-name {
    font-size: 18px;
    font-weight: 600;
}
.primary-define .article-header h2 {
    margin-bottom: 25px;
}
.primary-define .article-header h2 a {
    color: #535353;
}
.primary-define .kbm-latest-comment ul,
.primary-define .kbm-latest-comment li {
    margin: 0;
}
.primary-define .kbm-latest-comment li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
}
.primary-define .kbm-latest-comment li a {
    color: #222222;
}
.primary-define .kbm-latest-comment li a.content {
    font-weight: 600;
}
.primary-define .related-articles ul{
    margin: 0;
    width: auto;
}
.primary-define .related-articles ul li{
    margin: 0 0 5px 20px;
    list-style: circle;
}
.primary-define .related-articles ul li a{
    font-size: 14px !important;
}
.primary-define .related-articles h4 {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}
.primary-define .comment-container {
    background-color: transparent;
}
.primary-define #form-comment .validator input,
.primary-define #form-comment .validator img{
    vertical-align: middle;
}