/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/

/* ============================== RESOLUTION 1024px ============================== */
@media screen and (max-width: 1024px) {
	.primary-define .wrapper {
		width: auto;
		margin: 0 20px;
	}
	.primary-define #column-left + #content,
	.primary-define #column-right + #content {
		width: 605px;
	}
	.primary-define .product-info > .left,
	.primary-define .product-info > .right {
		float: none;
		width: auto !important;
		margin: 0 !important;
	}
	/* PRODUCT */
	.primary-define .product-info .zoomPup,
	.primary-define .product-info .zoomWindow,
	.primary-define .product-info .zoomPreload {
		display: none !important;
	}
	.primary-define .product-info .image img {
		height: auto;
	}
	/* CSS3 SLIDESHOW */
	.primary-define .slide.style-5 .jcarousel-inner,
	.primary-define .slide.style-5 .jcarousel-clip {
		height: auto;
	}
}
/* ============================== RESOLUTION 960px ============================== */
@media screen and (max-width: 960px) {
	.primary-define #column-left + #content,
	.primary-define #column-right + #content {
		width: 545px;
	}
}
/* ============================== RESOLUTION 768px ============================== */
@media screen and (max-width: 768px) {
    .primary-define .kbm-recent-article ul li {
        width: 47%;
        margin-bottom: 2%;
    }
    .primary-define .kbm-recent-article ul li span.date {
        top: 80px;
    }
	/* DEFAULT HTML - GRID LAYOUT */
	.primary-define .grid-2,
	.primary-define .grid-3,
	.primary-define .grid-4 {
		margin: 0 !important;
		width: auto !important;
		float: none !important;
	}
	/* HEADER */
	.primary-define #header #cart {
		float: none;
		clear: both;
	}
	.primary-define #toppanel #search {
		width: 100%;
		position: static;
	}
	.primary-define #toppanel #search-inner {
		display: block;
		margin-right: 54px;
	}
	.primary-define #toppanel #search .button-search {
		right: -54px;
		position: absolute;
	}
	.primary-define #toppanel #search input {
		min-width: 100%;
		position: static;
	}
	/* menu */
	.primary-define #menu {
		margin-top: 20px;
	}
	.primary-define #menu #btn-mobile-toggle {
		display: block;
	}
	.primary-define .mainmenu {
		margin: 0;
		display: none;
	}
	.primary-define .mainmenu > li {
		float: none;
	}
	.primary-define .mainmenu li .btn-expand-menu {
		display: block;
	}
	.primary-define .mainmenu > li > a {
		padding: 15px;
	}
	.primary-define .mainmenu li .dropdown-container {
		opacity: 1;
		display: none;
		position: static;
		background: #fff;
		visibility: visible;
		transition: none;
	}
	.primary-define .mainmenu li .dropdown {
		background: none;
		width: auto !important;
		box-shadow: none;
	}
	.primary-define .mainmenu .sublevel {
		padding: 0;
		width: auto;
		float: none;
	}
	.primary-define .mainmenu .sublevel li a {
		padding: 15px;
	}
	.primary-define .mainmenu .sublevel li.parent > a:after {
		display: none;
	}
	.primary-define .mainmenu .sublevel .dropdown-container li a {
		padding-left: 50px;
	}
	.primary-define .mainmenu .sublevel .sublevel .dropdown-container li a {
		padding-left: 70px;
	}
	.primary-define .mainmenu .sublevel .sublevel .sublevel .dropdown-container li a {
		padding-left: 90px;
	}
	/* PRODUCTS GRID */
	.primary-define .product-grid {
		text-align: center;
	}
	.primary-define #column-left,
	.primary-define #column-right {
		display: none;
	}
	.primary-define #column-left + #content,
	.primary-define #column-right + #content {
		margin: 0;
		float: none;
		width: auto;
	}
	/* CATEGORY */
	.primary-define .product-filter .display {
		text-align: right;
	}
	.primary-define .product-filter .display,
	.primary-define .product-filter .product-compare {
		padding-left: 0;
		border-left: none;
		padding-bottom: 16px;
		border-bottom: 1px solid #eee;
	}
	.primary-define .product-filter .product-compare {
		float: none;
	}
	.primary-define .product-filter .sort,
	.primary-define .product-filter .limit {
		margin: 0;
		padding-top: 16px;
	}
	.primary-define .product-filter .sort {
		float: left;
	}
	.primary-define .product-filter .limit {
		text-align: right;
	}
	/* PRODUCT */
	.primary-define .product-info .image img {
		max-width: 100%;
	}
	/* BOTTOM */
	.primary-define #bottom .wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}
	/* footer */
	.primary-define #footer .wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}
	.primary-define #powered {
		text-align: center;
	}
	.primary-define #footer-payments {
		float: none;
	}
	/* Social Icons */
	.primary-define .kuler-social-icons {
		text-align: center;
	}
	/* Newsletter */
	.primary-define .kuler-newsletter {
		text-align: center;
	}
	/* Mega Menu */
	.primary-define .megamenu li.product,
	.primary-define .megamenu li.category {
		position: relative;
	}
	.primary-define .megamenu li.html .dropdown > * {
		max-width: 100%;
	}
	.primary-define .megamenu li.category .dropdown .sublevel > li {
		width: auto;
		display: block;
	}
	.primary-define .megamenu li.category .dropdown .sublevel > li:after {
		height: 0;
		clear: both;
		content: "";
		display: block;
		visibility: hidden;
	}
	.primary-define .megamenu .box-product {
		text-align: left;
	}
/* ============================== RESOLUTION 640px ============================== */
@media screen and (max-width: 640px) {
	/* BOX PRODUCT */
	.primary-define .box-product .description {
		width: auto !important;
	}
	/* PRODUCTS GRID */
	.primary-define .product-grid > div {
		border: none;
	}
	/* PRODUCT */
	.primary-define .product-info > .left {
		display: block;
	}
	.primary-define .product-info > .right {
		padding: 0;
		display: block;
	}
	/* Tabs */
	.primary-define .kuler-tabs ul.module-nav-list {
		position: relative;
	}
	.primary-define .kuler-tabs ul.module-nav-list li {
		z-index: 2;
		float: none;
		display: none;
		transition: none;
	}
	.primary-define .kuler-tabs ul.module-nav-list li:first-child {
		display: block;
	}
	.primary-define .kuler-tabs ul.module-nav-list li.ui-state-active {
		z-index: 0;
		display: block;
	}
	.primary-define .kuler-tabs ul.module-nav-list li#btn-tabs-toggle {
		display: block;
	}
	.primary-define .kuler-tabs ul.module-nav-list li a {
		overflow: hidden;
		position: relative;
	}
	.primary-define .kuler-tabs ul.module-nav-list .ui-state-active a:before,
	.primary-define .kuler-tabs ul.module-nav-list.collapse .ui-state-active a:before {
		top: 50%;
		right: 10px;
		content: "";
		width: 30px;
		height: 30px;
		margin-top: -15px;
		position: absolute;
		background: url(../image/icons/icon-toggle-nav.png) right center no-repeat;
		transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-webkit-transition: 0.3s ease-in-out;
	}
	.primary-define .kuler-tabs ul.module-nav-list.expand .ui-state-active a:before {
		transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
	/* Mega Menu */
	.primary-define .megamenu .box-product {
		text-align: center;
	}
}
/* ============================== RESOLUTION 480px ============================== */
@media screen and (max-width: 480px) {
    .primary-define .kbm-recent-article ul li {
        width: 100%;
        margin-right: 0;
    }
	/* HEADER */
	.primary-define #topbar form {
		display: inline-block;
	}
	.primary-define #topbar form,
	.primary-define #topbar #welcome {
		float: none;
	}
	.primary-define #topbar #welcome {
		margin-bottom: 5px;
	}
	.primary-define #topbar .links {
		margin-top: 0;
	}
	/* PRODUCT LIST */
	.primary-define .product-list .left {
		margin: 0;
		float: none;
	}
	/* content */
	.primary-define #content .content .left,
	.primary-define #content .content .right {
		float: none;
		width: auto;
	}
	/* checkout */
	.primary-define .login-content .left,
	.primary-define .login-content .right,
	.primary-define .checkout-content .left,
	.primary-define .checkout-content .right {
		float: none;
		width: auto;
	}
	.primary-define .login-content .left .content,
	.primary-define .login-content .right .content {
		min-height: 0;
	}
	/* cart */
	.primary-define .cart-info table td.model {
		display: none;
	}
	/* table */
	.primary-define table.form td:first-child {
		white-space: normal;
	}
	/* orders */
	.primary-define .order-list table tr,
	.primary-define .order-list table td {
		display: block;
	}
	.primary-define .order-list table thead,
	.primary-define .order-list table tbody {
		float: left;
		width: 50%;
	}
	/* table */
	.primary-define table.list td.left.model,
	.primary-define table.list td.right.price,
	.primary-define table.list td.right.quantity {
		display: none;
	}
	/* cart */
	.primary-define .cart-info table td.image,
	.primary-define .cart-info table td.price {
		display: none;
	}
	.primary-define .cart-module #shipping td {
		display: block;
	}
	/* checkout */
	.primary-define .checkout-content #payment-new table.form td,
	.primary-define .checkout-content #shipping-new table.form td {
		display: block;
	}
	/* Newsletter */
	.primary-define .kuler-newsletter form span {
		margin: 5px 0;
		display: block;
	}
	/* Finder */
	.primary-define .kuler-finder .ui-menu {
		width: 365px !important;
	}
}
/* ============================== RESOLUTION 360px ============================== */
@media screen and (max-width: 360px) {
	.primary-define select {
		max-width: 217px;
	}
	/* HEADER */
	.primary-define #topbar form,
	.primary-define #topbar #welcome {
		float: none;
		text-align: center;
	}
	.primary-define #topbar #welcome {
		margin-top: 10px;
	}
	.primary-define #header #cart .content {
		width: 275px;
	}
	/* PRODUCT LIST */
	.primary-define .product-list .name {
		text-align: center;
	}
	.primary-define .product-list .rating {
		text-align: center;
	}
	/* PRODUCT GRID */
	.primary-define .product-grid > div {
		max-width: 210px;
	}
	/* CATEGORY */
	.primary-define .category-info .image {
		float: none;
		margin-right: 0;
		text-align: center;
	}
	.primary-define .product-filter .display {
		float: none;
		width: auto;
		text-align: center;
	}
	.product-filter .product-compare {
		text-align: center;
	}
	.primary-define .product-filter .sort,
	.primary-define .product-filter .limit,
	.primary-define .product-filter select {
		font-size: 11px;
	}
	.primary-define .product-filter select {
		max-width: 85px;
	}
	.primary-define .product-info .review .show-review,
	.primary-define .product-info .review .new-review {
		margin-left: 10px;
	}
	.primary-define .product-info .price-tax,
	.primary-define .product-info .reward,
	.primary-define .product-info .discount {
		display: none;
	}
	.primary-define .product-info .description span {
		min-width: 160px;
	}
	.primary-define .product-info .multi div {
		width: 75%;
		margin-left: 15px;
	}
	.primary-define .product-info .cart {
		text-align: center;
	}
	/* checkout */
	.primary-define .checkout-product td.model,
	.primary-define .checkout-product td.collapse,
	.primary-define .checkout-product thead td.price,
	.primary-define .checkout-product tbody td.price {
		display: none;
	}
	/* cart */
	.primary-define .cart-module #coupon .button,
	.primary-define .cart-module #voucher .button {
		margin-top: 10px;
	}
	/* tabs */
	.primary-define .htabs {
		height: auto;
	}
	.primary-define .tab-content {
		padding-top: 15px;
	}
	.primary-define .htabs a {
		margin: 0;
		float: none;
		display: block !important;
	}
	/* Newsletter */
	.primary-define .kuler-newsletter form input {
		margin: 5px 0;
	}
	/* Finder */
	.primary-define .kuler-finder select {
		max-width: 100%;
	}
	.primary-define .kuler-finder .ui-menu {
		width: 245px !important;
	}
}
}